.disabled-row {
  background-color: red;
  pointer-events: none;
}

.rowColor {
  background-color: #fff !important;
}

.ant-table-thead thead tr th {
  background-color: #fff !important;
}

.ant-table-row {
  margin: 30px 0 0 0 !important;
  background: #fff !important;
}

.ant-table-tbody {
  margin: 20px 0 20px 0 !important;
}
.ant-table-measure-row {
  visibility: collapse !important;
}
.ant-table-tbody > tr > td {
  padding: 10px !important;
}

.ant-table-thead > tr > th {
  background-color: #fff !important;
}

.ant-table-thead tr {
  border-bottom: 3px solid #ccc;
}

.ant-table-cell::before {
  height: 0px !important;
}

.nodata-table-icon {
  font-size: 5rem;
  color: #2097d6;
}

.NoData-Button {
  align-items: center;
  justify-content: center;
  justify-items: center;
}
/* change color blue to this */
.title {
  color: #2097d6;
}

/* Bank Table One Commmon Class (Universal Used CSS Over All used in the Project For table) */
.BankUserList-table {
  /* max-height: 45vh !important; */
  /* height: 45vh; */
  /* max-width: 76vw; */
  width: 100%;
  box-sizing: border-box !important;
  /* overflow-x: auto !important; */
  border-radius: 0px !important;
}

.BankUserList-table th.ant-table-cell {
  color: #ffffff !important;
  border-radius: 0% !important;
  position: sticky !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  /* top: 0 !important; */
  z-index: 10;
  background: #f26522 !important;
  padding-left: 10px !important;
}

.BankUserList-table::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 20px;
  background-color: #ffffff;
}

.BankUserList-table::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #ccc;
  margin-left: -15px;
}

.BankUserList-table .ant-table-thead > tr > th {
  height: 40px;
  line-height: 30px;
  padding: 0;
}

/* Bulk Upload Table One Commmon Class (Universal Used CSS Over All used in the Project For table) */
.BulkUpload-table {
  /* max-height: 45vh !important; */
  /* height: 45vh; */
  /* max-width: 76vw; */
  width: 100%;
  box-sizing: border-box !important;
  /* overflow-x: auto !important; */
  border-radius: 0px !important;
}

.BulkUpload-table th.ant-table-cell {
  color: #ffffff !important;
  border-radius: 0% !important;
  position: sticky !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  /* top: 0 !important; */
  z-index: 10;
  background: #f26522 !important;
}

.BulkUpload-table::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 20px;
  background-color: #ffffff;
}

.BulkUpload-table::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #ccc;
  margin-left: -15px;
}

.BulkUpload-table .ant-table-thead > tr > th {
  padding: 5px;
}

.BulkUpload-table .ant-table-tbody > tr > td {
  padding: 5px;
}

.BankSpot_Table-wrapper .BankSpot_Table {
  scrollbar-color: auto !important;
}

/* Dealer Forwards Table Starts */
.Dealer_Forwards-wrapper .Dealer_Forwards {
  scrollbar-color: auto !important;
}
.Dealer_Forwards-wrapper::-webkit-scrollbar {
  width: 0.3rem !important;
  border-radius: 20px !important;
  background-color: #f2f2f2 !important;
  height: 0.3rem !important;
}

.Dealer_Forwards-wrapper::-webkit-scrollbar-thumb {
  border-radius: 20px !important;
  background: #ccc !important;
  margin-left: -15px !important;
}
.Dealer_Forwards-thead tr:nth-child(1) th {
  background-color: #f26522 !important;
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-family: "Roboto" !important;
  font-size: 14px;
}
.Dealer_Forwards-thead tr:nth-child(1) th:nth-child(1) {
  background-color: transparent !important;
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  border-left: 0px !important;
  border-inline-width: 0 !important;
  border-top: none !important;
}
.Dealer_Forwards-thead tr:nth-child(2) th {
  background-color: #000 !important;
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
}

:where(.css-dev-only-do-not-override-1c0na6j).Dealer_Forwards-wrapper
  .Dealer_Forwards-container
  table
  > thead
  > tr:first-child
  > *:last-child {
  border-start-end-radius: 0px;
}

.Dealer_Forwards-thead th {
  font-family: "Roboto" !important;
  padding: 5px 0px !important;
}
.Dealer_Forwards-tbody tr td {
  font-family: "Roboto" !important;
  padding: 5px 0px !important;
  font-size: 13px !important;
}

.Dealer_Forwards-tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}
.Dealer_Forwards-tbody tr:nth-child(even) {
  background-color: #fff;
}

.Dealer_Forwards-wrapper .Dealer_Forwards {
  background: none !important;
}

th.Dealer_Forwards-cell {
  border-inline-end: 1px solid #f0f0f0 !important;
  border-top: 1px solid #f0f0f0;
}

th.Dealer_Forwards-cell::before {
  background-color: transparent !important;
}

td.Dealer_Forwards-cell {
  /* border-inline-end: 1px solid #f0f0f0 !important; */
  text-align: center !important;
}

:where(.css-dev-only-do-not-override-1c0na6j).Dealer_Forwards-wrapper
  .Dealer_Forwards-tbody
  .Dealer_Forwards-row
  > .Dealer_Forwards-cell-row-hover {
  background: transparent;
}
:where(.css-dev-only-do-not-override-1c0na6j).Dealer_Forwards-wrapper
  .Dealer_Forwards-cell-fix-left,
:where(.css-dev-only-do-not-override-1c0na6j).Dealer_Forwards-wrapper
  .Dealer_Forwards-cell-fix-right {
  background: none !important;
}
:where(.css-dev-only-do-not-override-1c0na6j)[class^="Dealer_Forwards"]
  [class^="Dealer_Forwards"],
:where(.css-dev-only-do-not-override-1c0na6j)[class*=" Dealer_Forwards"]
  [class^="Dealer_Forwards"],
:where(.css-dev-only-do-not-override-1c0na6j)[class^="Dealer_Forwards"]
  [class*=" Dealer_Forwards"],
:where(.css-dev-only-do-not-override-1c0na6j)[class*=" Dealer_Forwards"]
  [class*=" Dealer_Forwards"] {
  box-sizing: border-box !important;
  border-inline-width: 1px !important;
  border-inline-color: #d2d2d2 !important;
  border-bottom: 1px solid #d2d2d2 !important;
}

:where(.css-dev-only-do-not-override-1c0na6j)[class^="Dealer_Forwards"]
  [class^="Dealer_Forwards"]
  tr:last-child,
:where(.css-dev-only-do-not-override-1c0na6j)[class*=" Dealer_Forwards"]
  [class^="Dealer_Forwards"]
  tr:last-child,
:where(.css-dev-only-do-not-override-1c0na6j)[class^="Dealer_Forwards"]
  [class*=" Dealer_Forwards"]
  tr:last-child,
:where(.css-dev-only-do-not-override-1c0na6j)[class*=" Dealer_Forwards"]
  [class*=" Dealer_Forwards"]
  tr:last-child {
  border-bottom: none;
}

:where(.css-dev-only-do-not-override-1c0na6j)[class^="Dealer_Forwards"]
  [class^="Dealer_Forwards"]
  tr:last-child
  td,
:where(.css-dev-only-do-not-override-1c0na6j)[class*=" Dealer_Forwards"]
  [class^="Dealer_Forwards"]
  tr:last-child
  td,
:where(.css-dev-only-do-not-override-1c0na6j)[class^="Dealer_Forwards"]
  [class*=" Dealer_Forwards"]
  tr:last-child
  td,
:where(.css-dev-only-do-not-override-1c0na6j)[class*=" Dealer_Forwards"]
  [class*=" Dealer_Forwards"]
  tr:last-child
  td {
  border-bottom: none;
}

/* Treasury Discounting Ends */

/* Dealer Forwards Table Starts */
.Dealer_Forwards-wrapper .Dealer_Forwards {
  scrollbar-color: auto !important;
}
.Dealer_Forwards-wrapper::-webkit-scrollbar {
  width: 0.3rem !important;
  border-radius: 20px !important;
  background-color: #f2f2f2 !important;
  height: 0.3rem !important;
}

.Dealer_Forwards-wrapper::-webkit-scrollbar-thumb {
  border-radius: 20px !important;
  background: #ccc !important;
  margin-left: -15px !important;
}
.Dealer_Forwards-thead tr:nth-child(1) th {
  background-color: #f26522 !important;
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-family: "Roboto" !important;
  font-size: 14px;
}
.Dealer_Forwards-thead tr:nth-child(1) th:nth-child(1) {
  background-color: transparent !important;
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  border-left: 0px !important;
  border-inline-width: 0 !important;
  border-top: none !important;
}
.Dealer_Forwards-thead tr:nth-child(2) th {
  background-color: #000 !important;
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
}

:where(.css-dev-only-do-not-override-1c0na6j).Dealer_Forwards-wrapper
  .Dealer_Forwards-container
  table
  > thead
  > tr:first-child
  > *:last-child {
  border-start-end-radius: 0px;
}

.Dealer_Forwards-thead th {
  font-family: "Roboto" !important;
  padding: 5px 0px !important;
}
.Dealer_Forwards-tbody tr td {
  font-family: "Roboto" !important;
  padding: 5px 0px !important;
  font-size: 13px !important;
}

.Dealer_Forwards-tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}
.Dealer_Forwards-tbody tr:nth-child(even) {
  background-color: #fff;
}

.Dealer_Forwards-wrapper .Dealer_Forwards {
  background: none !important;
}

th.Dealer_Forwards-cell {
  border-inline-end: 1px solid #f0f0f0 !important;
  border-top: 1px solid #f0f0f0;
}

th.Dealer_Forwards-cell::before {
  background-color: transparent !important;
}

td.Dealer_Forwards-cell {
  /* border-inline-end: 1px solid #f0f0f0 !important; */
  text-align: center !important;
}

:where(.css-dev-only-do-not-override-1c0na6j).Dealer_Forwards-wrapper
  .Dealer_Forwards-tbody
  .Dealer_Forwards-row
  > .Dealer_Forwards-cell-row-hover {
  background: transparent;
}
:where(.css-dev-only-do-not-override-1c0na6j).Dealer_Forwards-wrapper
  .Dealer_Forwards-cell-fix-left,
:where(.css-dev-only-do-not-override-1c0na6j).Dealer_Forwards-wrapper
  .Dealer_Forwards-cell-fix-right {
  background: none !important;
}
:where(.css-dev-only-do-not-override-1c0na6j)[class^="Dealer_Forwards"]
  [class^="Dealer_Forwards"],
:where(.css-dev-only-do-not-override-1c0na6j)[class*=" Dealer_Forwards"]
  [class^="Dealer_Forwards"],
:where(.css-dev-only-do-not-override-1c0na6j)[class^="Dealer_Forwards"]
  [class*=" Dealer_Forwards"],
:where(.css-dev-only-do-not-override-1c0na6j)[class*=" Dealer_Forwards"]
  [class*=" Dealer_Forwards"] {
  box-sizing: border-box !important;
  border-inline-width: 1px !important;
  border-inline-color: #d2d2d2 !important;
  border-bottom: 1px solid #d2d2d2 !important;
}

:where(.css-dev-only-do-not-override-1c0na6j)[class^="Dealer_Forwards"]
  [class^="Dealer_Forwards"]
  tr:last-child,
:where(.css-dev-only-do-not-override-1c0na6j)[class*=" Dealer_Forwards"]
  [class^="Dealer_Forwards"]
  tr:last-child,
:where(.css-dev-only-do-not-override-1c0na6j)[class^="Dealer_Forwards"]
  [class*=" Dealer_Forwards"]
  tr:last-child,
:where(.css-dev-only-do-not-override-1c0na6j)[class*=" Dealer_Forwards"]
  [class*=" Dealer_Forwards"]
  tr:last-child {
  border-bottom: none;
}

:where(.css-dev-only-do-not-override-1c0na6j)[class^="Dealer_Forwards"]
  [class^="Dealer_Forwards"]
  tr:last-child
  td,
:where(.css-dev-only-do-not-override-1c0na6j)[class*=" Dealer_Forwards"]
  [class^="Dealer_Forwards"]
  tr:last-child
  td,
:where(.css-dev-only-do-not-override-1c0na6j)[class^="Dealer_Forwards"]
  [class*=" Dealer_Forwards"]
  tr:last-child
  td,
:where(.css-dev-only-do-not-override-1c0na6j)[class*=" Dealer_Forwards"]
  [class*=" Dealer_Forwards"]
  tr:last-child
  td {
  border-bottom: none;
}

/* Treasury Discounting Ends */
